mixin video(video)
    

    a(href=`/videos/${video.id}`).video-mixin 
        div.thumbnail_play
            img#thumbMouseover.video-mixin__thumb(src=`${video.thumbUrl}`,crossorigin)
            video#videoMouseover.hiding(src=`${video.fileUrl}`,muted,crossorigin)
        div.video__avatar
            if video.owner.avatarUrl
                if video.owner.avatarUrl.startsWith("uploads")
                    img(src="/"+video.owner.avatarUrl,crossorigin)
                if !video.owner.avatarUrl.startsWith("uploads")
                    img(src=video.owner.avatarUrl,crossorigin)
            else 
                div.empty__avatar
            div.video-mixin__data
                span.video-mixin__title=video.title
                span #{video.owner.name}
                div.video-mixin__meta(data-createdat=video.createdAt)
                    span 조회수 #{video.meta.views} 회 |  
                    span.date_counting 
                    

block scripts
    script(src="/static/js/mouseover.js")
    script(src="/static/js/countingDate.js")