extends base.pug
include mixins/comment

block content 
    div#videoContainer(data-id = video._id)
        video#videoInPlayer(src="/" + video.fileUrl)
        div#videoControls
            div#videoCotnrols-timeline
                input(type="range", step="1", value=0, min="0")#timeline
            div#videoControls-components
                div#videoControls-components__controlers
                    span#play.fa-solid.fa-play.videoControls-components
                    span#mute.fa-solid.fa-volume-high.videoControls-components
                    input(type="range", step="0.02", value=0.5, min="0", max="1")#volume.videoControls-components
                    div.videoControls-components
                        span#currentTime 00:00
                        span  / 
                        span#totalTime 00:00                           
                span#fullScreenBtn.fa-solid.fa-expand.videoControls-components
    br
    div
        span #{video.hashtags.toString().replaceAll(",", " ")} 
        span #{video.title}
    div
        div
            span 조회수 #{video.meta.views} 회
            span.fa-solid.fa-heart
        div
            if String(video.owner._id) === String(loggedInUser._id)
                a(href=`${video.id}/edit`) Edit Video &rarr;
                a(href=`${video.id}/delete`) Delete Video &rarr;

    br
    if loggedIn
        div.video__add-comments 
            form.video__comment-form#commentForm
                textarea#textarea(cols="30", rows="10", placeholder="Write a nice comment")
                button Add Comment
    if !loggedIn
        a(href="/login") log in for comment =>

    div.video__comments
        ul 
            each comment in video.comment.reverse()
                +comment(comment)  
            

block scripts
    script(src="/static/js/videoPlayer.js")
    script(src="/static/js/commentSection.js")



